*{
  border: 0px;
  padding: 0px;
  margin: 0px;
}

body{
  background: #333;
  color: white;
}

.navbar{
  border-bottom: white 3px solid;
  opacity: 0.8;
}

#home-section{
  padding-top: 10%; 
}
  #home-section .card-form {
    background-color: #18BC9C;
  }

  #reg{
    margin-bottom: 5%;
  }

  .card-body{
    padding: 15%;
  }