{% extends 'base.html' %}

{% block content %}
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          The future of medicine is here...
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illo error, sequi non maxime nulla impedit, ex nostrum corrupti voluptas quia hic modi voluptates incidunt odio pariatur voluptatibus unde delectus? </p>
        </div>
      </div>
    </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Lorem Ipsium</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Lorem Ipsium</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Lorem Ipsium</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
    </div>
  </div>
</section>
{% endblock%}