{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<body>
  </section>
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ listing.name}}</h1>
          <p class="lead">
              <i class="fas fa-star-of-life"></i> Risk: </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings'%}">Patients</a>
          </li>
          <li class="breadcrumb-item active">{{ listing.name }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{url: 'listings'}" class="btn btn-light mb-4">Back To Patients</a>
          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-battery-half"></i>  Age: <span> {{listing.age}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-venus-mars"></i>   Gender: <span> {{listing.gender}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-hiking"></i>  Physical Activity Level: <span> {{listing.PAL}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-globe"></i>   Ethnicity: <span> {{listing.ethnicity}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-arrows-alt-v"></i>   Height(cm): <span> {{listing.height}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-weight"></i>   Weight(kg): <span> {{listing.height}}</span>
                </li>
                
                
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-compress-arrows-alt"></i>   Blood Preassure: <span> {{listing.blood_p}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-wine-glass-alt"></i>   Alcohol Intake(weekly): <span> {{listing.AIPW}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fal fa-candy-cane"></i>  Sugar Intake(weekly): <span> {{listing.SIPW}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-joint"></i>   Smoker: <span> {{listing.smoker}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-heartbeat"></i>   Heartbeat: <span> {{listing.hearthbeat}}</span>
                </li>


              </ul>
            </div>
          </div>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="property_name" class="col-form-label">Property:</label>
              <input type="text" name="listing" class="form-control" value="45 Drivewood Cirlce" disabled>
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}